**VARIABLES AND DATA TYPES**

In [ ]:
# integer
a = 10
# float
b = 11.88
# string
text = "Hello, Hassaan!"
# list
numbers = [1, 2, 3, 4, 5]

In [3]:
print(a, type(a))
print(b, type(b))
print(text, type(text))
print(numbers, type(numbers))

10 <class 'int'>
3.14 <class 'float'>
Hello, Python! <class 'str'>
[1, 2, 3, 4, 5] <class 'list'>

**CONDITIONALS**

In [ ]:
number = -5  # SUPPOSE A NUMBER -5

if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Zero

**LOOPS**

In [ ]:
# print first 10 natural numbers

print("First 10 natural numbers:")
for i in range(1, 11):
    print(i, end=" ")

First 10 natural numbers:
1 2 3 4 5 6 7 8 9 10

In [14]:
# print factorial

n = 5
factorial = 1
for i in range(1, n+1):
    factorial = factorial * i
print(f"Factorial of {n} is {factorial}")

Factorial of 5 is 120

**FUNCTIONS**

In [15]:
# greet function
def greet(name):
    print(f"Hello, {name}!")

#calling function:
greet("Hassaan")

Hello, Hassaan!

In [16]:
# is_even function 
def is_even(num):
    return num % 2 == 0

# calling function
print(is_even(10))  # True
print(is_even(7))

True
False

**LIST OPERATIONS**

In [17]:
nums = [12, 5, 8, 20, 3]


print(f"Max: {max(nums)}")
print(f"Min: {min(nums)}")
print(f"Sum: {sum(nums)}")
print(f"Average: {sum(nums)/len(nums)}")

Max: 20
Min: 3
Sum: 48
Average: 9.6

In [ ]:
# sorting list using .sort
nums.sort()
print("Sorted:", nums)

Sorted: [3, 5, 8, 12, 20]

In [20]:
# reversing list useing .reverse
nums.reverse()
print("Reversed:", nums)

Reversed: [3, 5, 8, 12, 20]

**INPUT/OUTPUT**

In [22]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"Hello {name}, you are {age} yr old")

Hello 33, you are 3 yr old